@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
    @apply border-2 rounded-md border-solid 
    border-lime-800 py-1 px-1 transition ease-in-out delay-150 hover:bg-lime-700 hover:text-white hover:scale-110 hover:duration-300 hover:cursor-pointer;
}
.btn-up {
    position: fixed;
    background-color: #484846;
    right: 20px;
    bottom: 200px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.btn-up_hide {
    display: none;
}

.no-results{
    margin: 100px auto;
    text-align: center;
    color: gray;
    font-size: 20px;
    display: none;


}

.rating {
    background-image: url("../images/starIcon.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.filter-box {
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 5px;
    padding-right: 5px;
    border: 1px solid #484846;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    display: none;
    
}
.filter-box__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10;
}
.filter-box__title {
    color: rgb(180 83 9);
    font-weight: 500;
}
.input-price {
    border: 2px solid rgb(117, 112, 112);
}

.add-modal__container{
    background-color: rgba(128, 128, 128, 0.636);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 6;
}
.modal-box{
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 25px;
    border: 2px solid rgba(9, 68, 139, 0.177);
    border-radius: 5px;
    box-shadow: 1px 2px 10px rgb(195, 194, 194);
    align-items: center;
    justify-content: space-around;
    background-color: white;
    margin: 10px;
    
    
}

@media(max-width: 768px){
    .filter-box__items{
        flex-wrap: wrap;
        
    }
    
}
.modal-box__tour{
    display:flex;
    flex-direction: column;
}
.modal_item{

}